# ======================== #
# VMware VMs configuration #
# ======================== #

# Name that all VMs will be prefixed with
vm_name = "rancher"

# Name of the VM template, that exists on the vCenter, to use for creating VMs
vm_template_name = "bionic-server-cloudimg-amd64"

# (Optional) number of CPUs all nodes will be assigned. Defaults to 2
# vm_cpu = 4

# (Optional) amount of RAM all nodes will be assigned. Defaults to 8192
# vm_ram = 4096

# (Optional) VM hardware version number (See https://kb.vmware.com/s/article/2007240). Defaults to null
# vm_hardware_version = 14

# (Optional) SSH public key to add to all nodes authorized_keys file.
# ssh_public_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC/0u1rdJJLt4ycshZg7zsbMbK/nydyn4rYuK7UXTtoH53geMbsxxwGOTZMKaTA4bVgSKBEwybVodfEzEsnsBgigUN/0OXAos6mWosDj8rPNGZ8lr7Sefn5x6ZhESVIuwpDp+bEukCYp6V+FtNiL2U+iWM5eOpl1vvPNMcYXhBdU948RZrubMTa8QlyzSY1Go46gfmVtW+pdXLxGM2sTXlKTA2IxMabmF/BxbVmoQPCNoFObtGxTBNfytbv4yZN73xq52xOvwhiOiLEo3Kj3vbjP49L750oaKKRIP62cd0/dU4y3r8OyJSJehpSYQhwy5slUjIl3KI/QRE8yuTX3+kV"

# (Optional) List of IPv4 ip addresses to assign to nodes. Use CIDR notation
# static_ip_addresses = ["10.1.1.2/24", "10.1.1.3/24"]

# (Conditionally optional) Default gateway (IPv4) to assign to nodes. Required if using static ips.
# default_gateway  = "10.1.1.1"

# (Optional) DNS servers to assign to the nodes
# dns_servers = ["1.1.1.1", "8.8.8.8"]

# ============================ #
# VMware vSphere configuration #
# ============================ #

# VMware vCenter IP/FQDN
vsphere_vcenter = "vcenter.example.org"

# VMware vSphere username used to deploy the infrastructure
vsphere_user = "administrator@vsphere.local"

# VMware vSphere password used to deploy the infrastructure
vsphere_password = "secret"

# Skip the verification of the vCenter SSL certificate (true/false)
vsphere_unverified_ssl = "true"

# vSphere datacenter name where the infrastructure will be deployed
vsphere_datacenter = "myDatacenter"

# vSphere VMFS Datastore used to deploy VMs
vm_datastore = "myDatastore"

# vSphere Network used to deploy VMs
vm_network = "network1"

# (Optional) vSphere VM Folder. Defaults to top level vSphere ie no folder
# vsphere_vm_folder = "your/folder"

# (Conditionally optional) vSphere Resource Pool where all VMs will be placed. 
# Default: Resources
# Note: The default value works for DataCenters with a single Cluster. Otherwise, enter "<cluster_name>/Resources".
#       The easiest option is to enter the name of a pre-configured ResourcePool.   
# vsphere_resource_pool = "mypool"

# =========================== #
# RKE / Rancher configuration #
# =========================== #

# (Conditionally optional) Rancher server FQDN. Rancher server URL will be set as https://<rancher_server_url>
# If use_auto_dns_url is false, this field is required. If use_auto_dns_url is true, this value will be ignored.
# rancher_server_url = "my.rancher.org"

# (Conditionally optional) Automatically set rancher_server_url URL to https://<node ip>.nip.io.
# If use_auto_dns_url is false, rancher_server_url is required.
# use_auto_dns_url = false

# (Optional) Automatically configure rancher node template:
# - Updates the default admin password, provided by the rancher_password variable.
# - Enables telemetry
# - Creates cloud credentials for vCenter
# - Creates node template for vCenter
# rancher_create_node_template = true

# (Conditionally optional) rancher default admin password
# Note: The value is used only when rancher_create_node_template=true
rancher_password = "rancher"

# (Optional) Install a catalog with Trident.  This will allow administrators of 
# downstream clusters to configure persistent storage for NetApp storage systems.
# Requires rancher_create_node_template.
# See https://github.com/NetApp/trident for details about Trident.
# See https://github.com/NetApp/TridentInstaller for details about how to configure the Trident chart.
# rancher_create_trident_catalog = true

# (Optional) Trident installer branch to use. Requires rancher_create_trident_catalog. Defaults to master
# rancher_trident_installer_branch = "master"

# (Optional) Name the node template so it is familiar to your users. Requires rancher_create_node_template.
# rancher_node_template_name = "vsphere-default"

# (Optional) Create a default user cluster. Requires rancher_create_node_template.
# rancher_create_user_cluster = false

# (Optional) Default user cluster name
# rancher_user_cluster_name = "user-default"

# (Optional) The CIDR pool used to assign IP addresses to pods in the cluster
# rancher_cluster_cidr = "10.42.0.0/16"

# (Optional) The CIDR pool used to assign IP addresses to services in the cluster
# rancher_service_cidr = "10.43.0.0/16"

# (Optional) The RKE version to install
# kubernetes_version = "v1.18.10-rancher1-2"

# (Optional) The Rancher version to install
# rancher_version = "2.4.8"

# =================== #
# Other configuration #
# =================== #

# (Optional) Deliverables directory path. Defaults to ./deliverables
# deliverables_path = "./deliverables"

# (Optional) HTTP proxy server. Also specify https_proxy.
# http_proxy = "http://10.1.1.1:3128"

# (Optional) HTTPS proxy server. Also specify http_proxy.
# https_proxy = "http://10.1.1.1:3128"

# (Optional) Comma separated string of hostnames or IP addresses (CIDR notation) that should be excluded from proxying. Ignored if no proxy is set.
# no_proxy = "127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,.svc,.cluster.local"
