# ======================== #
# VMware VMs configuration #
# ======================== #

vm-count = "3"
vm-name = "rancher"
vm-template-name = "bionic-server-cloudimg-amd64"
vm-cpu = 2
vm-ram = 4096
vm-guest-id = "ubuntu64Guest"

# ============================ #
# VMware vSphere configuration #
# ============================ #

# VMware vCenter IP/FQDN
vsphere-vcenter = "10.193.136.5"

# VMware vSphere username used to deploy the infrastructure
vsphere-user = ""

# VMware vSphere password used to deploy the infrastructure
vsphere-password = "!"

# Skip the verification of the vCenter SSL certificate (true/false)
vsphere-unverified-ssl = "true"

# vSphere datacenter name where the infrastructure will be deployed
vsphere-datacenter = "RTP SFPS Lab"

# vSphere cluster name where the infrastructure will be deployed
vsphere-cluster = "SFPS-Lab"

# vSphere Datastore used to deploy VMs 
vm-datastore = "sfps-lab-esx-ds01"

# vSphere Network used to deploy VMs 
vm-network = "Lab-VMNet1-VL20"

# Linux virtual machine domain name
vm-domain = "example.local.net"

# vSphere VM Folder
vsphere-vm-folder = ""

# cloudinit directory
machine-cloudinit-dir = "/home/jdg/cloudinit"
